/*
#box{
    height: 200px;
    width: 200px;
    background-color: rgb(143, 48, 197);
    margin: 100px;
}
*/

div {
    width: 150px;
    height: 85px;
    margin: 5px;
    float: left;
    background: #254BF4;
}